h1, h4 {
  text-align: center;
}

#user_nav {
  text-align: center;
}

.row-fluid {
  width: 800px;
  margin: auto;
  margin-bottom: 10px;
  background-color: #EEE;
  padding: 9px;
}

.sidebar-nav {
  padding: 9px;
}
